/* index.html */
.container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}






/* inputs.html */
.row {
    border-bottom: 1px solid #e7e7e7;
    padding-top: 1.5em;
}

.row-taller {
    height: 200px;
    border-bottom: 1px solid #e7e7e7;
    padding-top: 1.5em;
}

.image-list input[type="radio"]{
  width: 0;
  height: 0;
  display: none;
}

.image-list input:checked + label, .image-list input label.selected, .image-list input label.checked {
    background-color: #e8972c;
    color: #ffffff;
}

.image-list label {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    vertical-align: auto;
    text-align: center;
    text-shadow: #ffffff;
    background-color: #ffffff;
    border: 1px solid #e8972c;
    color: #e8972c;
    border-radius: 0;
}

.row-label {
  float: left;
    width: 320px;
    text-align: left;
    margin: 0;
    font-size: 20px;
    border-bottom: 0;
}

.inline-radio{
  display: inline-block;
  margin-right: 10px;
}

input:checked {
    background-color: #e8972c;
    color: #ffffff;
}









/* results.html  */

.centered{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}
