
.container {
    width: 80%
}

.row {
    border-bottom: 1px solid #e7e7e7;
    padding-top: 1.5em;
}

.left {
    width: 25%
}

.middle {
    width: 10%
}

.right {
    width: 65%
}

.button {
  
}
