<div>
  <h1>How many camels for your boyfriend?</h1>
</div>
<div class="row">
   <span class="row-label">Age</span>
   <md-slider-container>
    <md-slider flex min="{{age.min}}" max="{{age.max}}" ng-model="age.value" aria-label="red" id="age-slider">
    </md-slider>
    <md-input-container>
      <input flex type="number" ng-model="age.value" aria-label="red" aria-controls="red-slider">
    </md-input-container>
  </md-slider-container>
</div>
<div class="row">
    <span class="row-label">Height(cm)</span>
    <md-slider-container>
     <md-slider flex min="{{height.min}}" max="{{height.max}}" ng-model="height.value" aria-label="red" id="age-slider">
     </md-slider>
     <md-input-container>
       <input flex type="number" ng-model="height.value" aria-label="red" aria-controls="red-slider">
     </md-input-container>
   </md-slider-container>
</div>
<div class="row">
   <span class="row-label">Hair Color</span>
   <select id="haircolor" ng-options="item as item.label for item in haircolors" ng-model="haircolor"></select>
</div>
<div class="row">
     <span class="row-label">Hair Length</span>
     <select id="hairlength" ng-options="item as item.label for item in hairlengths" ng-model="hairlength"></select>
</div>
<div class="row">
    <span class="row-label">Eye Color</span>
    <label ng-repeat="eyecolor in eyecolors">
     <input type="radio" name="eyecolor" ng-model="$parent.eyecolor" ng-value="eyecolor.id" /> {{eyecolor.label}}
     </label>

</div>
<div class="row-taller">
    <span class="row-label">Beard</span>
    <div class="image-list">
      <div ng-repeat="beard in beards" style="display: inline-block">
        <input type="radio" name="beard" value="{{beard.label}}" id="{{'beard'+beard.id}}">
        <label for="{{'beard'+beard.id}}">
            <img src="{{beard.img}}">
        </label>
      </div>
    </div>
</div>
<div class="row-taller">
    <span class="row-label">Body</span>
    <div class="image-list">
      <div ng-repeat="bodytype in bodytypes" style="display: inline-block">
        <input type="radio" name="body" value="{{bodytype.label}}" id="{{'body'+bodytype.id}}">
        <label for="{{'body'+bodytype.id}}">
            <img src="{{bodytype.img}}">
        </label>
      </div>
    </div>
</div>
<div class="row">
    <button type="submit" class="button">calculate</button>
</div>
